#intro {
    position: relative;
    overflow: hidden;
    background: #ffffff;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 36%, #dadada 100%, rgba(255, 255, 255, 1) 85%, rgb(255, 255, 255) 100%);    
    .introImg {
        background-image: url("/public/images/optimized/flowersbg-removebg-preview.avif");
        width: 100%;
        background-position: center;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        transform: scale(1.6);
        animation: zoomOut 1.5s ease-out forwards;
        .introTextCard {
            display: grid;
            place-content: center;
            height: 100%;
            transform: scale(0.6);
            opacity: 0;
            font-family: "Meow Script", cursive;
            animation: zoomText 1.5s ease-out forwards;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex; 
                flex-direction: column; 
                align-items: center; 
                color: #8B7E74;
                font-weight: 400;
                letter-spacing: 0.9px;
                font-size: 18px;
                .vs{
                    margin: 0;
                   
                }
            }
        }
        .goldbg {
            width: 100%;
            height: 100%;
            position: relative;
            background:
                linear-gradient(to bottom, #ffffffc8 0%, transparent 30%),
                linear-gradient(to top, #d6bda5c8 0%, transparent 0%);
            background-repeat: no-repeat;
            backdrop-filter: 5px;
            background-size: 100% 100%;
            background-position: top, bottom;
            animation: zoomShadow 1.5s ease-out forwards;

            p{
                text-align: center;
                transform: translateY(140px);
                font-size: 24px;
                font-family: "MonteCarlo", cursive;
                color: #8B7E74;
            }
        }
    }
    @keyframes zoomShadow {
        to {
            background-size: 100% 2%;
        }
    }
    @keyframes zoomOut {
        from {
            transform: scale(1.6);
        }
        to {
            transform: scale(1);
        }
    }
    @keyframes zoomText {
        from {
            transform: scale(1);
            opacity: 0;

        }
        to {
            transform: scale(3);
            opacity: 1;

        }
    }
    
}
